PORT=3000
PROVIDER_URL=https://rpc.gaiaxtestnet.oceanprotocol.com
BUNDLE_SIZE=1000
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=testnet-statistics
SLACK_WEBHOOK_SECRET_URL=https://hooks.slack.com/services/abc/def/123456
FF_NOTIFY_HEALTH_SLACK=false
